# .NET
bin/
obj/
*.user
*.suo
*.cache
*.dll
*.pdb
*.exe
*.log

# Visual Studio / VS Code
.vs/
.vscode/
*.code-workspace

# Docker
*.local

docker-compose.override.yml

# OS
.DS_Store
Thumbs.db

# Node / frontend
node_modules/
.next/
out/
dist/

# Environment files
.env
.env.*

# Git
*.orig
